[Database]
user = promoadmin
password = cambiare
host = cambiare
port = 5432
database = OneBasic
azienda= OneBasic
tipodb = sqlite
pw = No
[RuoliAzioni]
mod_enable=yes
[Magazzini]
mod_enable=Yes

#NON RIMUOVERE LE RIGHE VUOTE SOPRA QUESTA

[Agenti]
omogeneus_codice = upper
prefisso_codice = AG
lunghezza_codice = 5
struttura_codice = AG000000
